.app{
  text-align: center;
}


.favoFilmBtn{
  transition: none;
  cursor: pointer;
  background-color: transparent;
  padding: 1em 1.2em;
  font-weight: bold;
}
.button-container {
  display: flex; 
  align-items: center; 
}
.heart-button {
  border: none;
  color: #5a5444;
  padding: 0.6em 1.0em;
  font-size: 13px; 
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.heart-button .fa-heart {
  color: rgb(80, 78, 78); 
  font-size: 36px; 
}


.heart-button.red-mode .fa-heart {
  color: rgb(211, 29, 29); 
}
.eye-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1em; 
}

.eye-button .fa-eye {
  color: rgb(80, 78, 78); 
  font-size: 36px; 
}
/* Klass för att ändra stil när greenMode är aktivt */
.eye-button.green-mode .fa-eye {
  color: #28a745; /* Grön färg för ikonen */
}

/* Om du vill lägga till hover-effekter */
.eye-button:hover .fa-eye {
  opacity: 0.8; /* Lätt genomskinlighet på hover */
}