body{
  background-color: beige;
}

header{
  background-color: #213547;
  padding: 2em;
  margin: 0em;
  width:100%
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.searchBtn {
  border: 1px solid black;
  padding: 0.6em 1.0em;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  background-color: #d4afaf;
  cursor: pointer;
  margin: 0.5em;
}

p.about{
  margin: 3em;
  padding: 1em;
  text-align: center;
  font-family:'Courier New', Courier, monospace
}
div.aboutdiv{
  display:flex;
  
}

img{
  width:11em;
  height: 14em;
  border: 1.8px solid black;
}
p.filmtitle{
  font-size: 2em;
}
p.filmdescription{
  padding:1em;
  font-size: 1em;
}

section.filmcard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid #213547;;

}

.conterdiv{
  display: flex;
}