body{
  background-color: beige;
}

header{
  background-color: #213547;
  padding: 2em;
  margin: 0em;
  width:100%
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.searchBtn {
  border: 1px solid black;
  padding: 0.6em 1.0em;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  background-color: #d4afaf;
  cursor: pointer;
  margin: 0.5em;
}

p.about{
  margin: 3em;
  padding: 1em;
  font-weight: bold;
  text-align: center;
  font-family:'Courier New', Courier, monospace
 
}
div.aboutdiv{
  display:flex;
  
}

div.film-grid{
  display: flex;
  flex-wrap: wrap; 
  gap: 1em; 
  justify-content: center; 
  padding: 1em;
}

section.filmcard{
  justify-content: space-between;
  align-items: center;

  max-width: 30em;
  max-height: 50em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
section.filmcard:hover {
  transform: scale(1.05); 
}
img{
  width:9em;
  height: 14em;
  border: 1.8px solid black;
}
p.filmtitle{
  font-size: 2em;
  font-weight: bold;
}
p.filmdescription{
  padding:0em;
  font-size: 0.9em;
}

section.filmcard{
  display: flex;
flex-direction: column;
  border: 3px solid #213547;
}

.conterdiv{
  display: flex;
}